*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    background-image: url(https://www.wallpaperflare.com/static/249/382/542/the-avengers-hulk-minimalism-incredible-wallpaper.jpg);
}

nav{

}
