html {
    height: 100%;
  }
  body {
    margin:30px;
    padding:10px;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .login-box {
    position: absolute;
    margin:30px 30px 30px 30px;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0,0,0,.6);
    border-radius: 20px;
  }
  
  .login-box h1 {
    margin: 30px 0 30px;
    padding: 0;
    color: gray;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
    margin:20px;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    margin-top:30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
    transition: .2s;
  }
  
  .login-box form a {
    position: relative;
    display: block;
    padding: 10px 10px;
    color: rgb(91, 45, 53);
    background: #bc9fb1;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 2px;
    text-align:center;

  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
  }
  
  .aftertext{
    margin-top:20px;
    display: flex;
    flex-direction:column;
    color: white;
    text-align: center;
  }
  
  .aftertext a{
    color: white;
  }