<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
</head>
<body>
    {% if people %}

        {%for person in people%}
            <p>
                {{person.name}}
                <br>
                {{person.age}}
                <br>
                {{person.country}}
            </p>
        {%endfor%}

    {% elif person %}

        {{person}}

    {% endif %}
</body>
</html>