body{
  font-family: Raleway;
}

h1 {
text-align: left;
font-size:x-large;
color: rgb(8, 30, 67);
}

h2 {
  text-align: left;
  font-size:large;
  color: rgb(8, 30, 67);
}

h3{
  text-align: left;
  font-size:medium;
  color: rgb(8, 30, 67);
}

p{
  text-align: left;
  font-size:small;
  color: rgb(8, 30, 67);
}
ol,li{
  text-align: left;
  font-size:small;
  color: rgb(8, 30, 67);
}

h4 {
  text-align: center;
  font-size:large;
}

.skip-link {
  color:blue;
}

.media img{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 400px;
  height:300px;
}

table{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

table th{
  border: 1px solid red;
  text-align: center;
  font-size: 20px;
}


table td{
  border: 1px solid #ccc;
  height: 30px;
}

